.faculty-purple {
    background-color: #4c145e !important;
}
.faculty-blue {
    background-color: #00386b !important;
}
.faculty-green {
    background-color: #006847 !important;
}

.faculty-text-purple {
    color: #4c145e !important;
}
.faculty-text-blue {
    color: #00386b !important;
}
.faculty-text-green {
    color: #006847 !important;
}

.level-badge {
    background: #868e96;
    color: #fff;
    border-radius: 0.25rem;
    text-transform: uppercase;
    padding: .25rem;
    font-size: 75%;
}

.level-badge-guest {
    background: #868e96;
}

.level-badge-start {
    background: #2dc6d6;
}

.level-badge-basic {
    background: #376eb4;
}

.level-badge-advanced {
    background: #aa47ba;
}

.level-badge-pro {
    background: #70ce9b;
}

.level-badge-chuck {
    background: #9bc444;
}