@font-face
{
    font-family: 'aktivgrotesk';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_lt-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_lt-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_lt-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_lt-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_lt.svg#aktiv_grotesk_geberitlight-webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face
{
    font-family: 'aktivgrotesk-italic';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_ltit-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_ltit-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_ltit-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_ltit-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_ltit-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_ltit.svg#aktiv_grotesk_geberitLtIt-webfont') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face
{
    font-family: 'aktivgrotesk';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_rg-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_rg-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_rg-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_rg-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_rg.svg#aktiv_grotesk_geberitregular-webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face
{
    font-family: 'aktivgrotesk-italic';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_it-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_it-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_it-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_it-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_it.svg#aktiv_grotesk_geberititalic-webfont') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face
{
    font-family: 'aktivgrotesk';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_md_0-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_md_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_md_0-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_md_0-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_md_0-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_md_0.svg#aktiv_grotesk_geberitmedium-webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face
{
    font-family: 'aktivgrotesk-italic';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_mdit-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_mdit-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_mdit-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_mdit-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_mdit-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_mdit.svg#aktiv_grotesk_geberitMdIt-webfont') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face
{
    font-family: 'aktivgrotesk';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp.svg#aktiv_grotesk_geberitbold-webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face
{
    font-family: 'aktivgrotesk-italic';
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_bdit-webfont.eot');
    src: url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_bdit-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_bdit-webfont.woff2') format('woff2'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_bdit-webfont.woff') format('woff'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_bdit-webfont.ttf') format('truetype'),
    url('../fonts/aktivgrotesk/aktivgroteskgeberit_corp_bdit.svg#aktiv_grotesk_geberitBdIt-webfont') format('svg');
    font-weight: 700;
    font-style: italic;
}