header {
    padding: 20px 0;
}
.navbar {
    padding: 0 10px;
}
.navbar.navbar-light {
    background: #fafafa;
}
.navbar.border-bottom {
    /*margin-bottom: -1px;*/
}
.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link{
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
    color: #666;
    font-size: 11pt;
    font-weight: 500;
    vertical-align: middle;
}
.nav-link .fa-2x {
    vertical-align: -25%;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .nav-item:not(:first-child) {
        margin-left: 20px;
    }
    .nav-item.active .nav-link,
    .nav-item .nav-link:hover {
        box-shadow: inset 0 -3px 0 #376EB4;
    }
}


.slider {
    min-height: 400px;
}
.slider-image-container {

}
.slide-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    position: absolute;
}
.slide-image.active {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.slider-content-container {
    display: grid;
}
.slide-content {
    padding: 2rem;
    background: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.slide-content.active {
    background: #376eb4;
    color: #fff;
}
.slide-content .slide-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.faculty-block {
    color: #fff;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.faculty-block:nth-of-type(1) {
    background: #003B63;
}
.faculty-block:nth-of-type(2) {
    background: #005A94;
}
.faculty-block:nth-of-type(3) {
    background: #ACD0F0;
}
.faculty-block .faculty-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    min-height: 60px;
}
.faculty-block .faculty-title a,
.faculty-block .faculty-title a:hover,
.faculty-block .faculty-title a:visited {
    text-decoration: none;
    color: #ffffff;
}
.faculty-block .faculty-description {
    min-height: 60px;
}
.faculty-button {
    background: none;
    min-width: 220px;
    text-align: left;
}
.faculty-button:hover {
    background: #fff;
    color: #222;
}



.navbar-toggler {
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.1);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.4)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner::before, .hamburger:hover .hamburger-inner::after {
    background-color: #003B63;
}
.hamburger-box {
    width: 20px;
    height: 12px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    margin-top: -1px;
    top: 1px;
    transition: background-color 0s 0.13s linear;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: #666;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: 5px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::after {
    bottom: -5px;
    top: 10px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger[aria-expanded="true"] .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent;
}
.hamburger[aria-expanded="true"] .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger[aria-expanded="true"] .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 5px, 0) rotate(-45deg);
}



.avatar_wrapper {
    width: 75px;
    height: 75px;
    display: inline-block;
    background: center;
    background-size: cover;
}
.form .avatar_wrapper {
    float: left;
}
.save_wrapper {
    width: calc(100% - 75px);
    display:inline-block;
    overflow: hidden;
}
.save_wrapper .btn {
    margin-top: 5px;
}
.file_wrapper {
    overflow: hidden;
    position: relative;
    float: left;
    width: auto;
    margin: 0 !important;
}
.file_wrapper label {
    width: auto;
}
.file_wrapper button.btn {
    float: none;
    margin: 0 0 0 5px;
}
.file_wrapper [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.form.change_avatar {
    min-height: 100px;
}
.form.change_avatar [type="submit"] {
    float: none;
    margin-left: 5px;
}





.material {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.material-image {
    width: 200px;
    padding: 10px;
}
.material-image img {
    width: 180px;
}
.material-content {
    flex: 1;
    width: calc(100% - 220px);
    margin: 10px;
}




.test_block {
    margin: 10px 0;
    padding: 10px;
    background: #f6f6f6;
    cursor: pointer;
    color: gray;
}
.test_block.active {
    background: #b4cdf0;
    color: #444;
}
.test_block .test_status {
    float: left;
    font-size: 32px;
    padding: 5px 0 0 10px;
}
.test_block .test_status .fa-stack {
    height: 1.333em;
    line-height: 1em;
    width: 1.333em;
}
.test_block .test_status .fa-stack-0-5x {
    font-size: .5em;
    line-height: 2em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.test_block .test_meta {
    margin-top: 0.25rem;
}
.test_block .test_title {
    margin-bottom: 0.25rem;
}
.test_block .test_description {
    margin: 0;
    padding: 0;
}
.test_content {
    margin-left: 70px;
}

#protected_block input:checked + label {
    font-weight: bold;
    color: #0b7cc1;
}
#protected_block input:disabled + label {
    font-weight: bold;
    color: gray;
}
#protected_block .wrongAnswer {
    font-weight: bold;
    color: #c10b21 !important;
}
#protected_block .correctAnswer {
    font-weight: bold;
    color: #0bc150 !important;
}

#oneTest {
    display: none;
}
#oneTestHeader {
    height: 50px;
}
#timeLeft {
    float: right;
    font-size: 32px;
}

.form-group label {
    width: 100%;
}


.content-title {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 3px;
}
.content-subtitle {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
}
.content-big-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #005A94;
}
.content-big-subtitle {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
    color: #005A94;
}
.underlined-title {
    border-bottom: 3px solid #005A94;
    margin-bottom: 1.5rem;
    padding-bottom: 1px;
}
.content-caption {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}
.post-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
}
.post-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
}
.post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.post-content>*{

}

.faculty-header {
    min-height: 500px;
}
.faculty-header .faculty-header-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.faculty-header-image.faculty-header-image_commercial {
    background-position: bottom;
}
.faculty-header .faculty-header-content {
    background: #003B63;
    color: #fff;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.faculty-header-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2.1875rem;
}
.faculty-header-subtitle {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.1875rem;
}
.nav-label {
    display: block;
    padding: 0.5rem 1rem;
}


.contact_map {
    width: 100%;
    height: 300px;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}

footer {
    min-height: 160px;
    padding-bottom: 30px;
}


.text-larger {
    font-size: 1rem;
}





/* Костилізовані рішення */

/*@media (min-width: 1200px) { .container {max-width: 1200px;} } */
/*.content-subtitle {font-size: 1.5rem; font-weight: 300;}*/
/*.underlined-title {margin-bottom: 1.5rem; padding-bottom: 1px;}*/
/*.container {padding: 0px;}*/
/*.nav-link {font-size: 15px;}*/
/*.faculty-title {min-height: 60px;}*/
/*.faculty-description {min-height: 60px;}*/
/*.faculty-button {max-width: 220px;} ???????????????? */
/*footer { height: 160px; padding-bottom: 30px;}*/




@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}



@font-face {
    font-family: 'icons';
    src: url('../fonts/icons/icons.eot');
    src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/icons.woff2') format('woff2'),
        url('../fonts/icons/icons.woff') format('woff'),
        url('../fonts/icons/icons.ttf') format('truetype'),
        url('../fonts/icons/icons.svg#MyFlutterApp') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
    content: "\e800";
}




.flipdown {
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

/* Font styles */
.flipdown.flipdown__theme-dark {
    font-family: sans-serif;
    font-weight: normal;
}
.flipdown .rotor-group .rotor-group-heading:before {
    color: #868e96;
}
/* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: #376EB4;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
    color: #FFFFFF;
    background-color: #0a5a96;
}
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
    color: #EFEFEF;
    background-color: #2164A5;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
    border-top: solid 1px #003B63;
}
/* Labels */
.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
    content: 'Дней';
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
    content: 'Часов';
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
    content: 'Минут';
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
    content: 'Секунд';
}




.level-badge {
    background: #868e96;
    color: #fff;
    border-radius: 0.25rem;
    text-transform: uppercase;
    padding: .25rem;
    font-size: 75%;
}

.level-badge-guest {
    background: #868e96;
}

.level-badge-start {
    background: #2dc6d6;
}

.level-badge-basic {
    background: #376eb4;
}

.level-badge-advanced {
    background: #aa47ba;
}

.level-badge-pro {
    background: #70ce9b;
}

.level-badge-chuck {
    background: #9bc444;
}